# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

.env
yarn.lock

# Style files
/public/style/style.css
/public/style/style.min.css
