        {{!  Content  }}
        
        </div>
          <!-- /End replace -->
        </div>
      </main>
    </div>
  </div>

  <script src="//unpkg.com/alpinejs" defer></script>
</body>
</html>
