{{#> dashboard/header title="Categories" }}
{{/dashboard/header}}

<div class="border-2 border-dashed border-gray-200 rounded-lg h-full p-4">
  {{> dashboard/category/form
    title="Category information"
    description="Here you can create your own categories."
    csrfToken=csrfToken
    errors=errors
  }}
</div>

{{#> dashboard/footer}}
{{/dashboard/footer}}
