{{> dashboard/header title="Categories" }}

<div class="border-2 border-dashed border-gray-200 rounded-lg h-96 p-4">
  {{> category/form title="Create category" description="Here you can create your own categories" }}
</div>

{{> dashboard/footer}}
