{{> dashboard/header title="Categories" }}

<div class="border-2 border-dashed border-gray-200 rounded-lg h-full p-4">
  {{> category/form
    title="Category information"
    description="Here you can edit the category information."
    method="PUT"
    csrfToken=csrfToken
    category=category
  }}
</div>

{{> dashboard/footer}}
