{{#> home/header title="Vicente Gutiérrez" }}
{{/home/header}}

<div class="container py-4">
  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
     <h1>Vicente's Web Site</h1>
    </div>

    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6 fw-light">
      <p>Hola! me llamo Vicente Gutiérrez y te doy la bienvenida a mi sitio web.</p>
      <p>Soy desarrollador de software y actualmente trabajo principalmente con NodeJS (JavaScript) y Laravel (PHP).</p>
      <p>Del lado derecho encontrarás la forma de contactarme y algunos links a parte de mi trabajo.</p>
    </div>
    <div class="col-2">
      <ul class="list-unstyled fw-light">
        <li>
          <a class="text-decoration-none text-warning" href="/blog">Blog</a>
        </li>
        <li>
          <a class="pe-none text-muted text-decoration-line-through text-decoration-none" href="#">Curriculum</a>
        </li>
        <li>
          <a class="pe-none text-muted text-decoration-line-through text-decoration-none" href="#">Proyectos</a>
        </li>
        <li>
          <a class="text-decoration-none text-warning" target="_blank" href="https://github.com/vcgtz">Github</a>
        </li>
        <li>
          <a class="text-decoration-none text-warning" target="_blank" href="https://www.linkedin.com/in/vicentegtz/">LinkedIn</a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="fixed-bottom">
  <p class="text-center fw-bold"><small>@vcgtz {{#getCurrentYear}}{{/getCurrentYear}}</small></p>
</div>

{{#> home/footer}}
{{/home/footer}}
