{{#> blog/header title="Vicente Gutiérrez | Blog" }}
<link rel="stylesheet" type="text/css" href="/css/prism.css">
{{/blog/header}}

<div class="container py-4">
  <div class="row mb-4">
    <div class="col-2"></div>

    <div class="col-8">
      <h1>{{ post.title }}</h1>
      <div class="col-12 fw-light">
        {{ humanDate post.createdAt }}
      </div>
    </div>

    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <div class="fw-light">
        {{{ post.content }}}
      </div>
    </div>

    <div class="col-2"></div>
  </div>
</div>

{{#> blog/footer}}
<script src="/js/prism.js"></script>
{{/blog/footer}}
