{{#> blog/header title="Vicente Gutiérrez | Blog" }}
<link rel="stylesheet" type="text/css" href="/styles/prism.css">
{{/blog/header}}

<div class="max-w-7xl mx-auto px-4 pt-2 sm:px-6 sm:pt-2 lg:px-8 lg:pt-4">
  <div class="max-w-3xl mx-auto flex">
    <div class="flex-auto md:w-8/12 sm:w-auto">
      <div class="py-8 w-full">
        <h1 class="text-3xl mb-2">{{ post.title }}</h1>
      </div>

      <div class="no-tailwindcss-base">
        {{{ post.content }}}
      </div>
    </div>
  </div>
</div>

{{#> blog/footer}}
{{/blog/footer}}
